/* I designed for mobile first so everything before the @media tags are for most mobile devices. */

html
{
    padding: env(safe-area-inset);
}

.top-link 
{
    transition: all .25s ease-in-out;
    position: fixed;
    bottom: 0;
    right: 3.8%;
    display: inline-flex;
    z-index: 100000;
    
    cursor: pointer;
    align-items: center;
    justify-content: center;
    margin: 0 0.5em 4.5em 0;
    border-radius: 50%;
    padding: .25em;
    width: 20px;
    height: 20px;
    background-color: #F8F8F8;
    box-shadow: 0px 0px 0px 3px #cfcfcf;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.top-link.show {
    visibility: visible;
    opacity: 1;
}

.top-link.hide 
{
    visibility: hidden;
    opacity: 0;
}

svg 
{
    fill: #000;
    width: 12px;
    height: 6px;
}

.top-link:hover 
{
    background-color: #E8E8E8;
}

.top-link:hover.svg 
{
    fill: #000000;
}

/* Text meant only for screen readers. */
.screen-reader-text 
{
    position: absolute;
    -webkit-clip-path: inset(50%);
            clip-path: inset(50%);
    margin: -1px;
    border: 0;
    padding: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
    word-wrap: normal !important;
    clip: rect(1px, 1px, 1px, 1px);
}

.screen-reader-text:focus 
{
    display: block;
    top: 5px;
    left: 5px;
    z-index: 100000; /* Above WP toolbar. */
    -webkit-clip-path: none;
            clip-path: none;
    background-color: #eee;
    padding: 15px 23px 14px;
    width: auto;
    height: auto;
    text-decoration: none;
    line-height: normal;
    color: #444;
    font-size: 1em;
    clip: auto !important;
}

body
{
    background-image: none;
    background: linear-gradient(rgb(48,48,48), rgb(112,112,112));
    background-color: rgb(60,60,60);
}

/* The content of the entire page. */
.content
{
    background: rgba(220, 220, 220, .9);
    background-position: center;
    background-image: none;
    width: 80vw;
    padding: 20px 20px;
    margin: 20px auto;
    font-family: EB Garamond, sans-serif;
}

.faded-hr
{
    margin: 25px 0;
    height: 0px;
    -o-border-image: linear-gradient(45deg, rgba(220, 220, 220, .01), black, rgba(220, 220, 220, .01)) 1;
    border-image: linear-gradient(45deg, rgba(220, 220, 220, .01), black, rgba(220, 220, 220, .01)) 1;
    border-bottom: 0.00000000001px solid black;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.unselectable-wrapper
{
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
 }

#title
{
    text-align: center;
}

h2
{
    text-align: center;
}

#intro-text
{
    font-size: 0.9em;
}

.unselectable-wrapper
{
    text-align: center;
    font-size: 1.1em;
}

#stat-section label
{
    float: left;
    clear: left;
    width: 200px;
    text-align: left;
}

.str-section
{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 5px 5px;
    margin: 0 auto;
    width: 280px;
}

.str-section:hover
{
    background-color:rgb(224,224,224);
    border-radius: 3px;
}

.dex-section
{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 5px 5px;
    margin: 0 auto;
    width: 280px;
}

.dex-section:hover
{
    background-color:rgb(224,224,224);
    border-radius: 3px;
}

.int-section
{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 5px 5px;
    margin: 0 auto;
    width: 280px;
}

.int-section:hover
{
    background-color:rgb(224,224,224);
    border-radius: 3px;
}

.fth-section
{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 5px 5px;
    margin: 0 auto;
    width: 280px;
}

.fth-section:hover
{
    background-color:rgb(224,224,224);
    border-radius: 3px;
}

.end-section
{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 5px 5px;
    margin: 0 auto;
    width: 280px;
}

.end-section:hover
{
    background-color:rgb(224,224,224);
    border-radius: 3px;
}

#FAP-section
{
    text-align: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.FAP-image
{
    width: 70px;
    margin-bottom: 2px;
}

.FAP-text
{
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    user-select: none;
    cursor: pointer;
    margin: auto;
    width: 185px;
}

/* To get rid of the standard checkbox html provides. */
input[type="checkbox"] 
{
    display: none;
}

/* The following five functions are for the red stamp animation on the FAP ring. */
#FAP-section label
{
    position: relative;
    cursor: pointer;
    margin: auto;
    width: 185px; 
}

label:before 
{
    content: " ";
    position: absolute;
    top: -87px;
    left: -8px;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 28px;
    transition-duration: 0.4s;
    transform: scale(0);
}

#FAP-section label img 
{
    width: 70px;
    transition-duration: 0.2s;
    transform-origin: 50% 50%;
    cursor: pointer;
}

:checked + label:before 
{
    content: url(https://i.imgur.com/nABBRWb.png);
    transition-duration: 0.2s;
    transform-origin: 0 0;
    transform: scale(0.4);
    z-index: 1;
}

:checked + label img 
{
    transform: scale(1.2);
    z-index: -1;
}

/* For making the built-in increment/decrement buttons invisisble. */
input[type = "number"] 
{
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}

input[type = number]::-webkit-inner-spin-button, input[type = number]::-webkit-outer-spin-button 
{ 
    -webkit-appearance: none;
}

/* Only stat input fields. Does not include FAP input field. */
.stat
{
    width: 18px;
    height: 14px;
}

/* All input fields. */
input
{
    text-align: center;
    padding: 5px 10px;
    border-radius: 3px;
    border: 1.5px solid gray;
    box-shadow: inset 0 10px 10px -13px #000000;
}

input, .stat-button
{
    display: inline-block;
    padding: 5px;
}

.stat-button
{
    background-color: #EFEFEF;
    border-radius: 5px;
    max-height: 25px;
    box-shadow: inset 0 10px 10px -16px #000000;
    cursor: pointer;
    touch-action: manipulation;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-align: center;
    align-items: flex-start;
    box-sizing: border-box;
    margin: 0em;
    border-width: 2px;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    -o-border-image: initial;
       border-image: initial;
}

.arrow 
{
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.up 
{
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    transform-origin: 51% 51%;
}

.down 
{
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform-origin: 90% 36%;
}

#weapon-chart-section
{
    text-align: center;
    align-items: center;
}

.notBold
{
    font-weight: normal;
    line-height: 14px;
    font-size: 9px;
    margin: -10px;
    padding: 2px;
}

.collapsible-content
{
    overflow: hidden;
    max-height: 0;
    transition: max-height .4s;
    position: relative;
}

.content-table
{
    border-collapse: collapse;
    height: 40px;
    border-spacing: 0;
    margin: 7px 0;
    font-size: .6em;
    border-radius: 5px 5px 0 0;
    margin-left: auto; 
    margin-right: auto;
}

.content-table img:first-child
{
    width: 40px;
}

.content-table thead th:last-child
{
    margin-right: 25px;
}

.content-table a
{
    text-decoration: none;
    color: black;
}

.content-table a:visited
{
    text-decoration: none;
    color: black;
}

.content-table thead tr
{
    background-color: dimGray;
    color: #ffffff;
    text-align: left;
    font-family: sans-serif;
    font-size: 1em;
}

.content-table th, .content-table td
{
    text-align: center;
    border: 1px solid #c6c9cc;
}

.content-table th
{
    padding: 4px;
}

.content-table tbody tr
{
    border-bottom: 1px solid #dddddd;
}

/* Select the image and figcaption box. */
.image-box
{
    font-size: 13.44px;
    padding: 10px;
    max-width: 100px;
}

/* Select all elements except the image/figcaption and heavy attacks box. */
.content-table tbody td:nth-child(n + 2)
{
    font-size: 1.4em;
    padding: 1px;
}

.content-table tbody tr:nth-of-type(4n + 1), .content-table tbody tr:nth-of-type(4n + 2)
{
    background-color: #f3f3f3;
}

.content-table tbody tr:nth-of-type(4n + 3), .content-table tbody tr:nth-of-type(4n + 4)
{
    background-color: gainsboro;
}

.content-table tbody
{
    border-bottom: 2px solid dimGray;
}

/* Select the last 1H light attack box */
.content-table tbody tr:nth-last-child(2) td:last-of-type 
{
    border-bottom: none;
}

.collapsible-button
{
    width: 180px;
    padding: 15px;
    border-radius: 10px 10px 10px 10px;
    border: none;
    outline: none;
    cursor: pointer;
    background: #333333;
    color: #ffffff;
    text-align: left;
    vertical-align: middle;
    line-height: 17px;
    transition: .7s; 
    touch-action: manipulation;
}

/* For the little arrow to the right. */
.collapsible-button::after
{
    content: '\002B';
    float: right;
}

.collapsible-button-active 
{
    background: dimGray;
}

.collapsible-button-active::after 
{
    content: '\2212';
    float: right;
}

/* Select the light swings data cell */
.content-table .lightSwingBox
{
    height: 53.63px;
}

/* Select the heavy swings data cell */
.content-table .heavySwingBox
{
    font-size: 13.44px;
    padding: 1px;
    height: 53.63px;
}

#other-games-section label img 
{
    width: 45%;
    max-width: 342px;
    cursor: pointer;
}

#github-text-container
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(70, 70, 70);
    display: flex;
    justify-content: center;
    align-items: center;    
}

#github-text
{
    color: rgb(70, 70, 70);
    display: flex;
}

#github-text-container a:hover
{
    color: rgb(117, 117, 117);
    text-shadow: 0 0 3px rgb(255, 255, 255), 0 0 5px rgb(255, 255, 255);
}

#github-text-container img
{
    height: 18px;
    padding: 0 5px;
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: underline; }
a:active { text-decoration: underline; }

/* For devices that have a viewport of 360px or lower (i.e. Galaxy Fold). */
@media only screen and (max-width: 360px) 
{
    .content
    {
        margin: 10px auto;
    }

    .collapsible-content
    {
        overflow: hidden;
        max-height: 0;
        transition: max-height .4s;
        position: relative;
        right: 6.5px;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
    }
 
    .str-section
    {
        width: 210px;
    }

    .dex-section
    {
        width: 210px;
    }

    .int-section
    {
        width: 210px;
    }

    .fth-section
    {
        width: 210px;
    }

    .end-section
    {
        width: 210px;
    }
}

/* iPhone5/SE */
@media only screen and (device-aspect-ratio: 40/71)
{
    .str-section
    {
        width: 250px;
    }

    .dex-section
    {
        width: 250px;
    }

    .int-section
    {
        width: 250px;
    }

    .fth-section
    {
        width: 250px;
    }

    .end-section
    {
        width: 250px;
    }
}

/* For mobile devices that have a viewport of 768px-1023px (Tablets in portrait). */
@media only screen and (min-width: 768px) and (max-width: 1023px) and (pointer:coarse)
{
    body
    {
        background-image: none;
        background: linear-gradient(rgb(48,48,48), rgb(112,112,112));
        background-color: rgb(60,60,60);
    }

    .content
    {
        position: relative;
        background: rgba(220, 220, 220, .9);
        background-position: center;
        background-image: none;
        width: 70vw;
        padding: 20px 60px;
        margin: 20px auto;
        z-index: 100;
    }
    
    #intro-text
    {
        font-size: 1em;
    }

    .collapsible
    {
        margin: 0 10px;
    }

    .collapsible-content
    {
        width: 295px;
        margin: 5px 4px;
    }

    #stat-and-equipment-wrapper
    {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    #stat-section
    {
        flex-grow: 1;
    }

    #equipment-section
    {
        flex-grow: 1;
    }

    #FAP-section
    {
        margin: 50px 0;
    }

    #weapon-chart-wrapper
    {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items:unset;
    }
}

/* For mobile devices that have a viewport of 1024px-1400px (Tablets in landscape). */
@media only screen and (min-width: 1024px) and (max-width: 1400px) and (pointer:coarse)
{
    body
    {
        background-image: none;
        background: linear-gradient(rgb(48,48,48), rgb(112,112,112));
        background-color: rgb(60,60,60);
        height: 100%;
    }

    #other-games-section
    {
        padding: 60px 0;
    }

    .content
    {
        background: rgba(220, 220, 220, .9);
    }

    .collapsible-content
    {
        width: 295px;
        margin: 5px 4px;
    }

    #stat-and-equipment-wrapper
    {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    #stat-section
    {
        flex-grow: 1;
    }

    #equipment-section
    {
        flex-grow: 1;
    }

    #FAP-section
    {
        margin: 50px 0;
    }

    #weapon-chart-wrapper
    {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items:unset;
    }
}

/* For devices that have a viewport of 999px-1599px (Computers). */
@media only screen and (min-width: 999px) and (max-width: 1599px) and (hover: hover)
{
    body
    {
        background: #050a14;        
        background-image: url(https://wallpaperaccess.com/full/2130.jpg);
        background-size: 2000px;
        background-attachment: fixed;
        background-position: 30% 50%;
        background-repeat: no-repeat;   
    }

    .content
    {
        background: rgba(220, 220, 220, .9);
        background-position: center;
        background-image: none;
        width: 70vw;
        padding: 20px 60px;
        margin: 20px auto;
    }

    .top-link 
    {
        right: 7.8%;
    }

    h2
    {
        font-size: 1.5em;
    }

    .collapsible-content
    {
        width: 295px;
        margin: 5px 4px;
    }

    #stat-and-equipment-wrapper
    {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    #stat-section
    {
        flex-grow: 1;
    }

    #equipment-section
    {
        flex-grow: 1;
    }

    #FAP-section
    {
        margin: 50px 0;
    }

    #weapon-chart-container
    {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        padding: 0 50px;
    }

    #weapon-chart-wrapper-1
    {
        max-width: 419px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: unset;
        align-self: flex-start;
    }

    #weapon-chart-wrapper-2
    {
        max-width: 419px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: unset;
        align-self: flex-start;
    }
}

/* If the screen size has a width of 1599px or higher (Zoomed out). */
@media only screen and (min-width: 1599px)
{
    body
    {
        background: #050a14;
        background-image: url(https://wallpaperaccess.com/full/2130.jpg);
        background-size: cover;
        background-attachment: fixed;
        background-position: 30% 50%;
        background-repeat: no-repeat;
        position: absolute;
        top: 0px;
        left: 0px;
        width: 99%;
        height: 100%;
    }

    .collapsible-content
    {
        width: 295px;
        margin: 5px 4px;
    }

    #stat-and-equipment-wrapper
    {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    #stat-section
    {
        flex-grow: 1;
    }

    #equipment-section
    {
        flex-grow: 1;
    }

    #FAP-section
    {
        margin: 50px 0;
    }

    #weapon-chart-container
    {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        padding: 0 50px;
    }

    #weapon-chart-wrapper-1
    {
        max-width: 419px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: unset;
        align-self: flex-start;
    }

    #weapon-chart-wrapper-2
    {
        max-width: 419px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: unset;
        align-self: flex-start;
    }
}

@media (-webkit-min-device-pixel-ratio:1.5),(min-device-pixel-ratio:1.5)
{
    .faded-hr
    {
        transform: scaleY(0.7);
    }
}
 
@media (-webkit-min-device-pixel-ratio:2),(min-device-pixel-ratio:2)
{
    .faded-hr
    {
        transform: scaleY(0.5);
    }
}
    
@media only screen and (-webkit-min-device-pixel-ratio: 3.0),(min-device-pixel-ratio:3)
{
    .faded-hr 
    {
        transform: scaleY(0.33);
    }
}